# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BankWebApi.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Aryna.Sauchanka\Desktop\RSOI_KURSACH\BankWebApi\.idea\.idea.BankWebApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
